<h1 class="member-auth-h1"><%= title %></h1>
<p class="member-auth-lead"><%= message %></p>
<% if (typeof link !== 'undefined' && link) { %>
  <a class="btn btn-primary member-auth-submit" style="display:inline-flex;justify-content:center;text-decoration:none;width:100%;box-sizing:border-box;margin-top:0.5rem;" href="<%= link %>"><%= linkLabel || 'Continue' %></a>
<% } %>
